{% extends "base.html" %}
{% load table_operations %}
{% block head_title %}{{object.name}}{% endblock %}
{% block content %}

<h2>Purchase details</h2>
<table class="table table-sm">
   <thead>
     <tr>
       <th class="table-success">Film</th>
       <th class="table-dark">T pa</th>
       <th class="table-primary">Application</th>
       <th class="table-danger">Fr-Par</th>
       <th class="table-warning">B-Par</th>
       <th class="table-secondary">Structure</th>
       <th class="table-info">Replacing</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td class="table-success">{{object.product}}</td>
       <td class="table-dark">{{object.quantity }}</td>
       <td class="table-primary">{{ object.application }} </td>
       <td class="table-danger">{{object.front_partner}}</td>
       <td class="table-warning">{{object.back_partner}}</td>
       <td class="table-secondary">{{object.structure}}</td>
       <td class="table-info">{{object.replacing}}</td>
       <tr>
         <td class="table-light">Created {{object.created_at|date:'M/Y'}}</td>
         <td class="table-warning">Price {{object.price}}</td>
         <td class="table-dark">Deadline {{object.deadline|date:'M/Y' }}</td>
         {% if object.RND == True %}
         <td class="table-success">RND</td>
         {% else %}
         <td class="table-success"></td>
         {% endif %}
         {% if object.discontinued == True %}
         <th class="table-secondary">Discontinued</th>
         {% else %}
         <td class="table-secondary"></td>
         {% endif %}
         {% if object.completed == True %}
         <th class="table-success">Completed</th>
         {% else %}
         <td class="table-success"></td>
         {% endif %}       </tr>
   </tbody>
 </table>

    <table id="mydatatable" class="display" style="width:100%">
      <thead>
        <tr>
          <th scope="col">Stage</th>
          <th scope="col">Comment</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
  {% for i in purchase_object_list %}
        <tr>
          <td>{{ i.stage }}</td>
          <td>{{ i.comment }}</td>
          <td>{{ i.updated_at|date:'y/m/d' }}</td>
        </tr>
  {% endfor %}
  </tbody>
     </table>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
  <a class="btn btn-outline-warning btn-sm" href="{% url 'purchase:purchase-update' object.id %}">Update</a>
  <a class="btn btn-outline-danger btn-sm" href="{% url 'purchase:purchase-delete' object.id %}">Delete</a>
  <a class="btn btn-outline-info btn-sm" href="{% url 'purchase:purchase-list' %}">Back to Purchase List</a>
</div>
</div>

{% endblock %}
